.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

*.log


GeneratedPluginRegistrant.java
Generated.xcconfig
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
.flutter-plugins-dependencies

*.iml
.idea/
*.lock

local.properties

*.g.dart