.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

*.log
#*.g.dart


GeneratedPluginRegistrant.java
Generated.xcconfig
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

*.iml
.idea/
*.lock

local.properties
